.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  font-family: "Raleway", sans-serif;
  margin:0;
  background-color:rgb(158, 216, 254) ;
}

.app__header,
.app__main {
  font-family: "Raleway", sans-serif;
}

/*  Search bar */
nav{
  background-color:rgb(148, 148, 251);
  width:100vw;
  height: 15vh;
}
.inputCity{
  padding: 10px;
  margin: 28px 10px 0 10px ;
  border: none;
  background-color: rgb(148, 148, 251);
  outline:none;
}
.inputCity::placeholder , .inputCity{
  color:white;
  font-size:18px;
}
.showresults{
  margin-left:5rem;
  font-size: 24px;
  background-color: rgb(117, 117, 253);
  padding: 16px;
  cursor:default;
}
.findWeather{
  padding: 16px;
  font-size: 18px;
  background-color:rgb(117, 117, 253);
  border: none;
  font-weight: 100;
  opacity: 0.7;
  cursor:pointer;
}
/* Current weather */
main{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.todayForecast{
margin-top:1rem;
}
.todayForecastPic{
  margin-left:30px;
}
.overcast{
  color: white;
}
.temperature , .humidityPressure , .overcast{
  text-align:center;
}
.twentyFourHour{
  width: 80vw;
  display:flex;
  justify-content: space-evenly;
  padding:16px;
  align-items: center;
  margin-top:2rem;
}
.chunkTime , .chunkTemp {
  text-align: center;
}
.chunk{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.threeHourChunk{
  width: 8rem;
}
/* RESPONSIVE */
@media(max-width:800px) {
    .twentyFourHour{
      display: flex;
      flex-direction: column;
      row-gap: 100px;
    }
    nav {
      display: flex;
    }
}
 /* loading sign */
 .loading{
  width:auto;
  height:auto;
  color:whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 300px auto auto 400px;
  font-size: 64px;
  position: relative;
  animation-name :run ;
  animation-duration: 1s;
 }
 @keyframes run {
  0% {color: red;}
  20% {color: rgb(236, 91, 12);}
  40% {color: rgb(238, 176, 4);}
  60% {color: yellow;}
  80% {color: rgb(250, 197, 2);}
  100% {color: rgb(255, 81, 0);}

 }